doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="css/ejercicio-pug.css")
    body
        header
            h1 PlatziGames
            a.boton Registro
        section.intro
            .intro__imagen: img(src="images/imagen.png")
            .intro__contenido
                h2 Título principal
                p
                    | Lorem ipsum dolor sit, amet
                    | consectetur adipisicing elit. Sit
                    | nobis pariatur sapiente quod,
                    | laboriosam minus facilis hic,
                    | voluptatum veniam provident,
                    | earum inventore eveniet quis animi
                    | perferendis ad dolor amet tempora.
                    span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, voluptate!
                a.boton Leer más
                